@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}
.container{
    height: 200px;
    width: 500px;
    position: absolute;
    top:25%;
    left:75%;
    right:25%;
   
    transform: translate(-50%) translate(-50%);
    background: rgba(255, 255, 255, 0.5);
    padding:20px;
    border: 1px solid #333;
    
}
.title{
    padding-top:20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: #38a;
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}
.question{
    padding: 20px;
  font-size: 25px;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 10px;
  
}
.option {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
  padding:10px 0 10px 0;
  color: #000000;
}
.option-label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover{
    background-color: #38a;
}

.next.btn{
    border: none;
    outline: none;
    background: #38a;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    margin:10px;

}

.next-btn:hover{
    background: #279;
    color: #000000
}

.result{
    height: 100px;
    text-align: center;
    font-size: 75px;
}

.option input:checked .option{
    background: #08038c;
    color: #000000;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}
